@use "@/assets/styles/variables.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100dvh;

  display: grid;
}

:root {
  background: $bg-primary;
  color: $text-primary;

  font-family: $font-body;
  -webkit-font-smoothing: antialiased;

  scroll-behavior: smooth;

  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  cursor: pointer;
}
